.site-header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
  background: transparent;
  border-bottom: 1px solid #000;
}

.searchBarLabel {
  padding: 2px 2px;
  border: 1px solid #000 ;
  border-radius: 0 5px 5px 0;
  margin: 0;
  transition: 0.5s;
}

.searchBar {
  height: 20px;
  margin: 0;
  border: 1px solid #000;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 150px;
  font-size: 7pt;
  padding: 0px 3px 0px 3px;
}

.searchBar:focus {
  border: 1px solid #111;
  outline: none;
}

form {
  margin: 0;
  display: flex;
  align-items: center;
}

